# en-GB is maintained in main repository
data/language/en-GB.txt

# File resulting from running translation_check.py locally 
result.md

# Visual Studio
.vs
*.user
*.lock.json
[Bb]in
[Oo]bj


.project

# CLion
.idea
cmake-build-debug

# IntelliJ IDEA
*.iml

# macOS
.DS_Store
data/language/ar-EG.rar
